h3 {
  color: #ffffff;
  margin: 20px;
}
.textarea__consult {
  background-color: white;
  display: block;
  width: 80%;
  margin: 40px;
}

.container__block {
  display: block;
  width: 100%;
}
.container__top {
  display: inline-block;
  width: 25%;
  margin: 1px 0 0 0;
}
.container__top h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
  margin: 40px;
}
.time {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
  margin: 40px;
}
.python {
  color: #ffffff;

  margin: 0px 150px 0 0;
}
.postgresql {
  color: #ffffff;

  margin: 0 0px 0 100px;
}
.container__top-consult {
  overflow-y: auto;
  overflow-x: hidden;

  height: 400px;
  width: 350px;
}
.white {
  background-color: white;
  margin: 40px;

  border: 3px solid #000000;
}

.rTable {
  display: table;
  width: 100%;
}
.rTableRow {
  display: table-row;
}
.rTableHeading {
  display: table-header-group;
  background-color: #000000;
}
.rTableCell,
.rTableHead {
  display: table-cell;
  padding: 3px 10px;
  border: 1px solid #000000;
  color: #000000;
}

.rTableHead strong {
  display: table-cell;
  padding: 3px 10px;
  color: #000000;
}
.rTableHead span {
  display: table-cell;
  padding: 3px 10px;
  color: #000000;
}

.rTableHeading {
  display: table-header-group;
  background-color: #000000;
  font-weight: bold;
}
.container__block h3 {
  font-size: 20px;
  margin-bottom: 0px;
  color: white;
}
h1 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-family: "kartoone solid";
}

.center {
  display: block;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.imgResult {
  width: 300px;
}

.white2 {
  width: 15%;
  background: #09b62e;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.white3 {
  background-color: white;
  margin: 40px;
  width: 40%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #000000;
  font-family: "calibri";
  font-size: 18px;
}
.white4 {
  background-color: white;
  margin: 40px;
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #000000;
  font-family: "calibri";
  font-size: 18px;
}
.white5 {
  background-color: white;
  margin: 40px;

  border: 3px solid #000000;
}
